@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Inter';
}

a {
    text-decoration: none;
}

@layer base {
    #top, #page, #drawer, header, footer, h1, h2, h3, h4, h5, h6, p, a, li, button, label, input, textarea {
        @apply transition-all duration-300 ease-in-out
    }

    #home {
        @apply bg-white
    }

    .dark #home {
        @apply bg-zinc-900
    }

    #top {
        @apply border-none bg-transparent
    }

    .dark #page {
        @apply bg-zinc-900 
    }
}

#home {
    transition: all 300ms ease-in-out;
    background-image: radial-gradient(rgba(0, 0, 0, .25) 4%, transparent 0);
    background-size: 30px 30px;
}

.dark #home {
    background-image: radial-gradient(rgba(255, 255, 255, .25) 3%, transparent 0);
}